@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #1A1A1A;
}

::selection {
  background: rgba(42, 173, 168, 0.3);
  /* teal at 30% opacity */
  color: #1A1A1A;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F4FCFC;
  /* lightbg */
}

::-webkit-scrollbar-thumb {
  background: #2AADA8;
  /* primary */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #228e89;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}